@import "_variables.scss";
@import "_normalize.scss";
@import "_base.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_form.scss";


.table {
	display: table;
	width: 100%;
	height: 100%;

}
.t-cell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}


.logo-header {
	display: inline-block;
	position: relative;
}
.logo-header__img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hide-block {
	z-index: 5;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(#000, .72);
	overflow: hidden;
	transform: translate(-100%, 0);
	transition: transform 500ms ease 100ms;

	&_open {
		transform: translate(0%, 0);
		transition: transform 500ms ease;
		.nav {
			opacity: 1;
			transition: 200ms opacity ease 500ms;
		}
	}
}
.hide-logo {
	margin-top: 40px;
}
.nav {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	right: 0;
	top: 50%;
	opacity: 0;
	transition: 200ms opacity ease 0ms;
	li {
		margin-bottom: 37px;
		white-space: nowrap;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		font-size: 46px;
		font-weight: 300;
		text-decoration: none;
		color: #fff;
	}
}

.main-wrapper {
	min-height: 100%;
	background: url(../img/bg.png) center top no-repeat;
	background-attachment: fixed;
	background-size: cover;

	position: relative;
}



.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding-top: 73px;
	z-index: 6;
}
.menu {
	position: absolute;
	left: 3%;
	z-index: 6;
	@media #{$bp-blarge} {
	      left: 10px;
	}
	&__button {
		width: 26px;
		height: 20px;
		display: inline-block;
		vertical-align: middle;
		background: url(../img/menu.svg) center top no-repeat;
		background-size: 100%	100%;
		cursor: pointer;
		&_opened {
			background: url(../img/close.svg) center top no-repeat;
		}
	}

	&__text {
		font-size: 16px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 30px;
		cursor: pointer;

		margin-top: 2px;
	}
}
.lang {
	position: absolute;
	right: 3%;

	text-align: right;
	z-index: 6;
	@media #{$bp-blarge} {
	      right: 10px;
	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px;
		&:last-child {
			margin-right: 0;
		}
		&:first-child {
			margin-left: 0;
		}
		a {
			font-size: 16px;
			color: #fff;
			text-decoration: none;
		}
	}
}

.content {
	position: relative;
	max-width: 1200px !important;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	&_pd {
		padding-top: 95px;
		padding-bottom: 50px;
	}
}

.main-logo {
	margin-bottom: 65px;
	&__img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}




%bb {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	background-color: #fff;

}

.title {
	font-size: 24px;
	position: relative;
	&_line_bb {
		padding-bottom: 10px;
		&:after {
			@extend %bb;
			width: 213px;
		}
	}
}
.news {
	&__pd {
		padding: 25px 30px;
		p {
			margin-bottom: 0;
		}
	}
}
.bg-opacity {
	background: rgba(#fff, .12);
	border: 1px solid rgba(#95989A, .12);
}

h5 {
	font-size: 18px;
}
p {
	font-size: 18px;
	line-height: 22px;
	color: #95989A;
	margin: 15px 0;
}

.date {
	font-size: 18px;
}



















.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 40px;
	padding-top: 40px;

	z-index: 6;
	@media #{$bp-blarge} {
		padding-left: 10px;
		padding-right: 10px;
	}
	&__call {
		float: right;
	}

	&__copyright {
		float: left;
		font-size: 16px;
		font-weight: 300;
	}

	&__item {
		font-weight: 300;
		font-size: 16px;
		display: inline-block;
		vertical-align: middle;
		&_last {
			margin-left: 34px;
		}
	}

}











.patch {
	position: relative;
	padding-top: 1px;
	@media #{$bp1540} {
		opacity: 0;
		visibility: hidden;
	}
	.patch__item {
		&:last-child {
			padding-right: 0;
			&:after {
				display: none;
			}
			a {
				color: #fff;
			}
		}
		&:first-child {
			padding-left: 0;
		}
	}
}
.patch__item {
	display: inline-block;
	padding: 0 22px;
	position: relative;
	font-size: 18px;
	font-weight: 300;

	&:after {
		content: '\2014';
		font-weight: 400;
		position: absolute;
		color: rgba(#fff, .42);
		left: 100%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	a {
		font-size: 18px;
		font-weight: 300;
		color: rgba(#fff, .42);
		text-decoration: none;
	}
}










.head {
	font-size: 48px;
	color: #fff;
	position: relative;
	font-family: $optima;
}
.head_line_bb {
	padding-bottom: 10px;
	&:after {
		width: 309px;
		@extend %bb;
	}
}


.text-block {
	p {
		font-size: 24px;
		line-height: 29px;
		font-weight: 300;
		color: #fff;
		margin: 0;
		text-indent: 30px;
	}
}

